.header {
    background: orange;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    display: flex;
    align-items: center;
    margin: 0px 32px;
}

.first-name {
    margin-right: 8px;
    color: white;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 16px 32px;
}

.email,
.phone,
.location {
    display: flex;
    align-items: center;
}